<div class="container">
<h1 class="page-header">My profiles</h1>
<div>
  <% @mediators.each do |mediator| %>
  <%= link_to mediator_path(mediator) do  %>
    <%= cl_image_tag mediator.photo, height: 200, width: 300, crop: :fill, class:"rounded-image" %>
  <% end %>
   <h3> Upcoming bookings for <%= mediator.name %></h3>
   <p> <% mediator.bookings.each do |booking| %> </p>
    <% start_date = booking.start_date %>
    <% end_date = booking.end_date %>
    <li> <%= start_date.strftime('%A, %d %b %y') %> - <%=end_date.strftime('%A, %d %b %y') %></li></div>
    <% end %>
  </p>
  <% end %>
</div>
</div>
</div>
