<div class="container">

  <h2>Update <%= @mediator.name %></h2>

  <%= simple_form_for(@mediator) do |f| %>
    <%= f.input :name %>
    <%= f.input :location%>
    <%= f.input :description %>
    <%= f.submit "Update mediator", class: "btn btn-primary" %>
  <% end %>
</div>
